body {
  text-align: center;
}

#digimons-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  margin: 0 auto;
}

.digimon-card {
  border: 1px solid black;
  display: grid;
  align-content: space-around;
  justify-items: center;
  margin: 10px;
  padding: 20px;
}

.digimon-card img {
  width: 200px;
  height: 200px;
}

.digimon-card-2 {
  display: grid;
  justify-items: center;
  border: 10px solid black;
  border-radius: 10px;
  margin: 0 10%;
  padding: 20px;
}

.digimon-card-2 .info-details-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px auto 0px;
  width: 80%;
}

.info-container > ul {
  list-style: none;
  padding: 0;
  text-align: left;
}
