* {
  box-sizing: border-box;
}

body {
  background-image: radial-gradient(#35c6da, rgb(71, 116, 214));
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  width: fit-content;
  padding: 0 40px;
  margin: 0 auto;
  background-color: rgba(240, 248, 255, 0.247);
  border: 5px solid rgba(0, 0, 0, 0.767);
  border-radius: 20px;
  color: white;
  font-size: 60px;
  font-weight: 900;
  filter: drop-shadow(5px 5px 5px #000000);
}

label {
  filter: drop-shadow(0 5px 3px #000000);
  color: rgb(255, 255, 255);
  font-size: x-large;
  font-weight: 550;
}

.search-characters {
  height: 40px;
  margin: 1rem;
  border: none;
  border-bottom: 2px solid #6f6b6d;
  border-top: 2px solid #6f6b6d;
  border-radius: 50px;
  line-height: 1.2rem;
  font-size: 1.4rem;
  text-align: center;
}

#digimons-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 0 auto;
}

.digimon-card {
  background-color: white;
  border: 1px solid black;
  display: grid;
  align-content: space-around;
  justify-items: center;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.9);
  margin: 10px;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.digimon-card span {
  background-color: #18e9aa;
  border-radius: 10px 0 10px;
  position: absolute;
  left: 0px;
  font-size: large;
  padding: 5px 10px;
}

.digimon-card img {
  width: 200px;
  height: 200px;
}

.digimon-card h3 {
  font-size: 1.5rem;
  margin: 10px;
}

button {
  margin-top: 10px;
  font-size: large;
  border: none;
  border-bottom: 2px solid #000000;
  border-top: 2px solid #000000;
  border-radius: 10px;
}

button:hover {
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.9);
}

.digimon-card-2 {
  display: grid;
  justify-items: center;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  margin: 0 8%;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.digimon-card-2 img {
  width: 500px;
}

.digimon-card-2 .info-details-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px auto 0px;
  width: 80%;
}

.digimon-card-2 h2 {
  margin: 0;
}

.info-container h3 {
  margin: 0;
}

.digimon-card-2 p {
  line-height: 1.5;
}

.info-container > ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.digimon-card-2 button {
  position: absolute;
  right: 10px;
}

.error-container h3 {
  margin: 20px auto;
  width: fit-content;
  color: #ffffff;
  font-size: 30px;
  filter: drop-shadow(2px 4px 6px black);
  background: #6b60601c;
}

@media screen and (max-width: 420px) {
  .digimon-card-2 img {
    width: 100%;
  }
  .info-container {
    width: 100px;
  }
  h1 {
    font-size: 40px;
  }
}
